{% extends "base.html" %}

{% block title %}صفحه اصلی{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="p-5 mb-4 bg-light rounded-3 shadow-sm">
        <div class="container-fluid py-5">
            <h1 class="display-4">خوش آمدید!</h1>
            <p class="lead">این صفحه اصلی وب‌سایت شماست.</p>
            <hr class="my-4">
            <p>برای مشاهده لیست موبایل‌ها به بخش موبایل مراجعه کنید.</p>
            <a class="btn btn-primary btn-lg" href="/api/mobile/mobiles/" role="button">مشاهده موبایل‌ها</a>
        </div>
    </div>
</div>
{% endblock %}
